.bin-button{
    background-image: url(/images/waste.png);
    background-size: cover;
    border: 0px;
    /* padding: 0px; */
    height: 20px;
    width: 20px;
}

.noCellBorder{
    width: 30px;
    border: 0px;
    padding: 0px;
    background-color: white;

}

.table-header-row{
    background-color: black;
    color: white;
  }

  .table-footer-row{
    background-color: gray;
    color: black;
    font-weight: bold;
  }

  .table-levain-row{
    background-color: lightgray;
  }

  .ingredient-image {
    height: 500px;
    width: 500px;
    border: 4px solid black;
    margin-top: 3em;
    margin-left: 0em;
    padding-left: 0em;
  }

  .build-container{
    display: flex;
    justify-content: space-between;
    flex: 2;
    flex-direction: row;
  }
  .build-left{
    flex: 1;
    padding-left: 150px;
    padding-right: auto;
    margin-left: 0px;
    margin-right: 0px;
  }
  .build-right {
    flex: 1;
    /* padding: 10px; */
    margin-left: 0px;
  
  }
