th, td {
    padding: 5px;
    border: 1px solid #ddd;
    margin: 0px;
  }

  .tableSubHeading {
    border: 0px;
    padding-left: 100px;
    text-align: left;
    color: gray;
  }

  .main-container{
    display: flex;
    justify-content: space-between;
    flex: 7;
    flex-direction: row;
  }
  .main-left {
    flex: 4;
    /* padding: 10px; */
    margin-left: 120px;
    margin-right: 0px;
  }
  .main-right {
    flex: 3;
    /* padding: 10px; */
    margin-left: 0px;
  
  }

  .flex-container {
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 5px;
    padding: 5px;
  
  }

  .ingredient-cost{
    margin: 3px 0px 0px 0px;
    padding: 0px;
  }
  .table-header-row{
    background-color: black;
    color: white;
  }

  .table-footer-row{
    background-color: gray;
    color: black;
    font-weight: bold;
  }

  .table-levain-row{
    background-color: lightgray;
  }
