th, td {
    padding: 5px 5px 0px 5px;
    border: 1px solid #ddd;
  }

  .tableSubHeading {
    border: 0px;
    padding-left: 100px;
    text-align: left;
  }

  .main-container{
    display: flex;
    justify-content: space-between;
    flex: 7;
    flex-direction: row;
  }
  .main-left {
    flex: 4;
    /* padding: 10px; */
    margin-left: 100px;
    margin-right: 0px;
  }
  .main-right {
    flex: 3;
    /* padding: 10px; */
    margin-left: 0px;
  
  }

  .flex-container {
    display:flex;
    flex-direction: row;
    justify-content: start;
    margin: 5px;
    padding: 5px;
  
  }

  .ingredient-cost{
    margin: 3px 0px 0px 0px;
    padding: 0px;
  }
