.home-image {
    height: 420px;
    width: 700px;
    border: 1px solid black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }

  .center{
    text-justify: auto;
    text-align: center;
  }