.navbar-flex-container {
    display:flex;
    text-align: center;
    background-color: silver;
    /* margin-left: 100px;
    margin-right: 100px; */
  }

  .main {
    flex: 4;
    margin-left: 50px;
  }

  .one-quarter {
    flex: 1;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 0px;  
  }

  .text-link {
    text-decoration: none;
  }