#recipe-selector{
    padding: 4px;
    width: 400px;
    height: 30px;
    margin-top: 25px;
    margin-bottom: 0px;
    border: 2px solid black;
    font-size: 16px;
    background-color: white;
    border-radius: 0px;
    /* box-shadow: 4px 4px #ccc; */
    outline-color: black;
}

select:focus{
    border: 2px solid gray;
}