.App {
  text-align: center;
 
}

h1 {
  text-align: center;
}

/* .container{
  background-image: url(/images/Spelt.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  position: absolute;
} */
